.newsContainer {
  text-align: center;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--bs-dark);
  opacity: 1;
  color: var(--bs-light);
  border: 1px solid var(--bs-info-subtle);
  padding: 5rem;
  margin: 5rem;
}

.insideContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.imageContainer {
  height: 500px;
}
.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: start;
}
.paragraph {
  font-size: 1.25rem;
  font-weight: 300;
}

.cardfooter {
  text-align: end;
  font-weight: lighter;
  font-size: 1.25rem;
  margin-top: 0.75rem;
  color: #6c757d;
}

@media only screen and (max-width: 1024px) {
  .newsContainer {
    text-align: center;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--bs-dark);
    opacity: 1;
    color: var(--bs-light);
    border: 1px solid var(--bs-info-subtle);
    padding: 3rem;
  }
  .title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: start;
  }
  .paragraph {
    font-size: 1rem;
    font-weight: 300;
  }

  .imageContainer {
    height: 400px;
  }
  .cardfooter {
    text-align: center;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #6c757d;
  }
}

@media only screen and (max-width: 768px) {
  .newsContainer {
    text-align: center;
    border-radius: 0.375rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--bs-dark);
    opacity: 1;
    color: var(--bs-light);
    border: 1px solid var(--bs-info-subtle);
    padding: 3rem;
  }
  .title {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: start;
  }
  .paragraph {
    font-size: 1rem;
    font-weight: 300;
  }

  .imageContainer {
    height: 200px;
  }
  .cardfooter {
    text-align: center;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 1rem;
    color: #6c757d;
  }
}

@media only screen and (max-width: 425px) {
  .newsContainer {
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--bs-dark);
    opacity: 1;
    color: var(--bs-light);
    border: 1px solid var(--bs-info-subtle);
    padding: 3rem;
  }

  .insideContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: start;
    margin-top: 1rem;
  }
  .paragraph {
    font-size: 1rem;
    text-align: center;
    font-weight: 250;
  }

  .imageContainer {
    height: 200px;
  }
  .cardfooter {
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 1rem;
    color: #6c757d;
  }
}

@media only screen and (max-width: 375px) {
  .newsContainer {
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--bs-dark);
    opacity: 1;
    color: var(--bs-light);
    border: 1px solid var(--bs-info-subtle);
    padding: 3rem;
  }

  .insideContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: start;
    margin-top: 1rem;
  }
  .paragraph {
    font-size: 1rem;
    text-align: center;
    font-weight: 250;
  }

  .imageContainer {
    height: 150px;
  }
  .cardfooter {
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 1rem;
    color: #6c757d;
  }
}

@media only screen and (max-width: 320px) {
  .newsContainer {
    text-align: center;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: var(--bs-dark);
    opacity: 1;
    color: var(--bs-light);
    border: 1px solid var(--bs-info-subtle);
    padding: 3rem;
  }

  .insideContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .title {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: start;
    margin-top: 1rem;
  }
  .paragraph {
    font-size: 1rem;
    text-align: center;
    font-weight: 250;
  }

  .imageContainer {
    height: 100px;
  }
  .cardfooter {
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-top: 1rem;
    color: #6c757d;
  }
}
