.reliable {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem 1.5rem;
  background-color: var(--bs-dark);
  color: var(--bs-light);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

@media only screen and (max-width: 425px) {
  .reliable {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem 1.5rem;
    background-color: var(--bs-dark);
    color: var(--bs-light);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
  }
}
